:root{
    --clr-main: #22B14C;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
    --clr-secundary: #183E0C;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    margin-top: 0px;
}

.header-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: var(--clr-secundary);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.logo-container img {
    width: 110px; 
}

.telefono-container {
    display: flex;
    align-items: center;
}

.telefono-container img {
    width: 20px; 
    margin-right: 5px;
}

.buscar-container, .buscar-container-mobile {
    display: flex;
    align-items: center;
    
}

.buscar-container, .buscar-container-mobile input {
    padding: 5px;
    margin-right: 5px;
    border-radius: 0.65rem;
}

.buscar-container, .buscar-container-mobile button {
    padding: 5px 10px;
    border-radius: 0.65rem;
}


.barra-navegacion {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.barra-navegacion li {
    margin-right: 20px;
}

.barra-navegacion a {
    text-decoration: none;
    color: var(--clr-main);
    font-weight: bold;
    font-size: 16px;
}

#portada {
    text-align: center;
    padding: 20px;
    background-color: var(--clr-main);
}

footer {
    background-color: var(--clr-main);
    color: var(--clr-white);
    text-align: center;
    padding: 1em 0;
}

.seccion-anuncios {
    padding: 20px;
    background-color: black; /* Color de fondo de la sección de anuncios */
}

.pedido-container h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.pedido-container button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4b33a8; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    cursor: pointer;
}

.seccion-anuncios {
    padding: 20px;
    background-image: url('../img/bg.jpg');
    text-align: center;
}

.pedido-container {
    margin-bottom: 20px;
}

.pedido-container h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.pedido-container button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4b33a8; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    cursor: pointer;
}

.anuncio-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.anuncio {
    width: calc(33.33% - 20px); /* 33.33% del ancho menos el espacio entre ellos */
    margin: 10px;
}

.anuncio img {
    width: 100%;
    border-radius: 1rem; /* Añade bordes redondeados para un aspecto más estilizado */
}

.cat-menu-mobile{
    display: none;
}

@media screen and (max-width: 600px) {
    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .barra-navegacion{
        display: none;
    }

    .anuncio-container {
        display: block;
        text-align: center;
    }

    .anuncio{
        width: 100%;
        margin: 10px auto;
    }

    .cat-menu-mobile {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    .cat-menu-mobile .boton-menu {
        margin-right: 15px;
        color: var(--clr-main);
        font-size: 1.5rem;
        text-decoration: none;
    }    
    
    .cat-menu-mobile .boton-menu:hover {
        color: #fff; /* Cambiar color al pasar el ratón por encima */
    }

    .cat-menu-mobile .boton-menu .bi {
        vertical-align: middle; /* Alinear iconos verticalmente */
    }
    .cat-menu-mobile .numerito {
        background-color: var(--clr-main);
        color: #fff;
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 0.8rem;
        position: relative;
        top: -5px;
        left: -10px;
    }

    #submenu-btn .bi {
        font-size: 2.3rem; /* Ajusta el tamaño del ícono según lo necesites */
    }
}