@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300&display=swap');

:root{
    --clr-main: #22B14C;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;    
    --clr-red: #961818;
    --clr-secundary: #183E0C;
    --clr-bg: #F6EBD9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

/**ORDER ONLINE**/

.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-secundary) ;
}

aside{
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cat-logo{
    font-weight: 400;
    font-size: 1.3rem;
}

.cat-menu{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.boton-menu{
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 0.85rem;
}

.boton-menu.active {
    background-color: var(--clr-bg);
    color: var(--clr-secundary);
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-bg);
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-bg);
}

.boton-carrito{
    margin-top: 2rem;
}

.numerito{
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: 0.15rem .25rem;
    border-radius: 0.25rem;
}

main {
    background-color: var(--clr-bg);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-main {
    color: var(--clr-secundary);
    margin-bottom: 2rem;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles {
    background-color: var(--clr-secundary);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.producto-nombre{
    font-size: 1rem;
}

.producto-descripcion{
    display: none;
}

.producto-agregar{
    border: 0; 
    background-color: var(--clr-white);
    color: var(--clr-secundary);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover{
    background-color: var(--clr-main);
    color: var(--clr-white);
}

/**MODAL**/
.modal {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 33px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    padding: 20px;
    z-index: 9999;
    background-color: rgba(24, 62, 12, 0.8);
    padding: 5vw; 
}


.modal-content {
    color: var(--clr-white);
}
  
.close { 
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color:var(--clr-secundary);
    font-size: 20px;
}
 
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.modal-content {
    transition: all 0.3s ease;
}

.modal-boton-agregar {
    background-color: var(--clr-main); /* Color de fondo */
    color: var(--clr-white); /* Color del texto */
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 33px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.modal-boton-agregar:hover {
    background-color: var(--clr-secundary); /* Cambio de color al pasar el ratón */
}

.modal-content {
    font-family: 'Poppins', sans-serif; /* Fuente del texto */
    line-height: 1.5;
}

.modal-content:focus {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Sombra más suave */
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}



/**CARRITO**/

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio, .carrito-comprado{
    color: var(--clr-main);
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-gray);    
    color: var(--clr-main);
    padding: 0.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen{
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small{
    font-size: 0.75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-acciones{
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    gap: 1rem;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
}

.disabled {
    display: none;
}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.mobile-bottom-content {
    display: none;
}

.cat-menu-mobile {
    display: none;
}

/*** MEDIA QUERRYS***/

@media screen and (max-width: 850px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 675px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .cat-logo {
        display: none;
    }
    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .anuncio-container {
        display: block;
        text-align: center;
    }

    .anuncio{
        width: 100%;
        margin: 10px auto;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
       transform: translateX(-100%);
       opacity: 0;
       visibility: hidden;
       transition: 0.2s;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    main {
        background-image: url('../img/bg_coffee.png');
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos{
        grid-template-columns: 1fr 1fr;

    }
    
    .header-principal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px; 
    }

    .logo-container img {
        max-width: 80px; 
    }

    .telefono-container p {
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
        margin: 0; 
    }

    .boton-carrito {
        font-size: 1.5rem;
        padding-left: 3rem;
        padding-right: 0.5rem;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .cat-logo-mobile {
        color: var(--clr-gray);
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: var(--clr-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .header-inicio {
        display: none;
    }

    .mobile-bottom-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10px; /* Ajusta el espacio superior según tu diseño */
    }


    .buscar-container-mobile {
        margin-top: 10px;
    }

    .mobile-nav {
        margin-top: 10px;
    }

    .cat-menu, .cat-menu-mobile {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .boton-carrito{
        margin-top: 0rem;
    }
    
    .numerito{
        background-color: transparent;
        color: var(--clr-main);
        padding: 0rem;
        border-radius: 0.25rem;
    }

    
    .boton-menu.boton-carrito {
        background-color: transparent;
        color: var(--clr-main);
        border: 0;
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 600;
        text-decoration: none;
    }

    .boton-menu.boton-carrito:hover {
        text-decoration: underline;
    }

    .header-ver-menu {
        display: none;
    }

    .header-order-online {
        display: none;

    }

    .header-reservas {
        display: none;
    }

    .buscar-container {
        display: none;
    }

    .modal {
        width: 80%; /* Ancho del modal en pantallas pequeñas */
        height: 80%; /* Altura del modal en pantallas pequeñas */
        max-width: 400px; /* Ancho máximo del modal en pantallas pequeñas */
        max-height: 600px;
    }
}



@media screen and (max-width: 400px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }
}